<ion-card>
  <ion-card-header>
    <ion-card-title>Círculo</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <p>El perímetro de un círculo es la longitud de la línea que forma su borde.</p>
    <img src="assets/img/circulo-info.png" alt="Información Círculo" 
      style="max-width: 750px; display: block; margin: 10px auto;"/>

    <ion-item>
      <ion-input
        label="Radio (cm)"
        type="number"
        [(ngModel)]="radioInput"
        placeholder="Ej. 15">
      </ion-input>
    </ion-item>

    <ion-button expand="block" class="ion-margin-top" (click)="ejecutarCalculo()">
      CALCULAR EL PERÍMETRO
    </ion-button>

    <div *ngIf="resultado !== null" class="ion-margin-top">
      <ion-text color="dark">
        <h3>El perímetro es {{ resultado | number:'1.2-2' }} cm</h3>
      </ion-text>
    </div>
  </ion-card-content>
</ion-card>