<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Figuras Geométricas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    
    <ion-item>
      <ion-select 
        label="Figura Geométrica" 
        placeholder="Escoja una figura geométrica..." 
        [(ngModel)]="figuraSeleccionada">
        <ion-select-option value="circulo">Círculo</ion-select-option>
        <ion-select-option value="triangulo">Triángulo</ion-select-option>
      </ion-select>
    </ion-item>

    <div class="ion-margin-top">
      <app-circulo *ngIf="figuraSeleccionada === 'circulo'"></app-circulo>
      <app-triangulo *ngIf="figuraSeleccionada === 'triangulo'"></app-triangulo>
    </div>

  </div>
</ion-content>